Repository sdiehl/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo, dprint, brewfile-syntax, justfile-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
        files: ^obsidian/.*\.json$
      - id: check-merge-conflict

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.11.0-1
    hooks:
      - id: shfmt
        args: [-i, "4"]
        files: ^(sync\.sh|bin/.*)$

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        files: ^(sync\.sh|bin/.*)$

  - repo: local
    hooks:
      - id: taplo
        name: taplo (TOML format)
        entry: taplo fmt
        language: system
        types: [file]
        files: \.toml$

      - id: dprint
        name: dprint (Markdown format)
        entry: dprint fmt
        language: system
        types: [markdown]
        pass_filenames: false

      - id: brewfile-syntax
        name: Validate Brewfile syntax
        entry: ruby -c
        language: system
        files: ^Brewfile$

      - id: justfile-check
        name: Validate justfile syntax
        entry: just --list --justfile
        language: system
        files: ^justfile$
        pass_filenames: true

remove
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  FEATURES.md
  README.md
  bin/eod
  bin/lib-common.sh
  bin/morning
  justfile
  nvim/lua/plugins.lua
  sync.sh
Due: dprint, justfile-check

purge dead code
  .zshrc
  FEATURES.md
  justfile
  nvim/ftdetect/koka.vim
  nvim/lua/editor.lua
  nvim/lua/plugins.lua
  nvim/syntax/koka.vim
  obsidian/community-plugins.json
  sync.sh
Due: dprint, justfile-check

license because wtf not, add jokes
  LICENSE
  LICENSE-MIT
  README.md
Due: dprint

fix lean highlighting
  nvim/lua/plugins.lua
  nvim/queries/lean/folds.scm
  nvim/queries/lean/highlights.scm
  nvim/queries/lean/injections.scm
Due: none

run format
  README.md
Due: dprint

fixes
  .github/workflows/ci.yml
Due: none
