Repository sdiehl/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo, dprint, brewfile-syntax, justfile-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
        files: ^obsidian/.*\.json$
      - id: check-merge-conflict

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.11.0-1
    hooks:
      - id: shfmt
        args: [-i, "4"]
        files: ^(sync\.sh|bin/.*)$

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        files: ^(sync\.sh|bin/.*)$

  - repo: local
    hooks:
      - id: taplo
        name: taplo (TOML format)
        entry: taplo fmt
        language: system
        types: [file]
        files: \.toml$

      - id: dprint
        name: dprint (Markdown format)
        entry: dprint fmt
        language: system
        types: [markdown]
        pass_filenames: false

      - id: brewfile-syntax
        name: Validate Brewfile syntax
        entry: ruby -c
        language: system
        files: ^Brewfile$

      - id: justfile-check
        name: Validate justfile syntax
        entry: just --list --justfile
        language: system
        files: ^justfile$
        pass_filenames: true

format
  bin/eod
  bin/morning
Due: none

fix env var
  justfile
Due: justfile-check

Improve workflow efficiency across shell, git, and scripts
  .zshrc
  bin/eod
  bin/lib.sh
  bin/morning
  gitconfig
  justfile
  sync.sh
Due: justfile-check

sync obsidian plugins
  obsidian/community-plugins.json
Due: none

sync dotfiles
  .zshrc
  gitconfig
Due: none

sync opencode
  opencode/opencode.json
Due: none

fixes & sync
  .pre-commit-config.yaml
  .zshrc
  Brewfile
  FEATURES.md
  SHORTCUTS.md
  aerospace.toml
  atuin/config.toml
  bin/eod
  bin/lib-common.sh
  bin/morning
  justfile
  nvim/init.vim
  nvim/lazy-lock.json
  opencode/opencode.json
  sync.sh
Due: taplo, dprint, brewfile-syntax, justfile-check

fix fmt issues
  .github/workflows/ci.yml
  README.md
  bin/lib-common.sh
  justfile
  sync.sh
Due: dprint, justfile-check

restore tooling
  README.md
Due: dprint

upgrade
  nvim/lazy-lock.json
Due: none

basic & full rules
  justfile
Due: justfile-check

version pins
  .zshrc
  justfile
Due: justfile-check

fixes
  .zshrc
  Brewfile
  FEATURES.md
  Makefile
  README.md
  atuin/config.toml
  nvim/init.vim
  sync.sh
Due: taplo, dprint, brewfile-syntax

lazy load node
  .zshrc
  sync.sh
Due: none

cargo commands
  Brewfile
  FEATURES.md
  SHORTCUTS.md
  nvim/init.vim
  nvim/lazy-lock.json
Due: dprint, brewfile-syntax

update
  nvim/lazy-lock.json
Due: none

sync
  .zshrc
  Brewfile
  FEATURES.md
  nvim/init.vim
Due: dprint, brewfile-syntax

simplify zsh theme
  .zshrc
  justfile
  starship.toml
Due: taplo, justfile-check

sync
  Brewfile
  justfile
  ssh/config
  sync.sh
Due: brewfile-syntax, justfile-check

fix shellfmt
  justfile
  sync.sh
Due: justfile-check

update check, fix nvm lazy loading
  .github/workflows/update-check.yml
  .zshrc
Due: none

nvm fixes
  .zshrc
Due: none

sync dotfiles
  nvim/init.vim
  nvim/lazy-lock.json
Due: none

lua translation
  justfile
  nvim/init.lua
  nvim/init.vim
  nvim/lazy-lock.json
  nvim/lua/editor.lua
  nvim/lua/plugins.lua
  sync.sh
Due: justfile-check

format lua
  .github/workflows/ci.yml
  .github/workflows/update-check.yml
  .pre-commit-config.yaml
  .stylua.toml
  Brewfile
  FEATURES.md
  SHORTCUTS.md
  justfile
  nvim/colors/jellybeans.vim
  nvim/init.lua
  nvim/lazy-lock.json
  nvim/lua/editor.lua
  nvim/lua/plugins.lua
  sync.sh
Due: taplo, dprint, brewfile-syntax, justfile-check

faster ci lint
  .github/workflows/ci.yml
  justfile
Due: justfile-check

treesitter lean
  FEATURES.md
  justfile
  nvim/lua/plugins.lua
  nvim/queries/lean/folds.scm
  nvim/queries/lean/highlights.scm
  nvim/queries/lean/injections.scm
  nvim/queries/lean/locals.scm
Due: dprint, justfile-check

more lua-fication
  nvim/lazy-lock.json
  nvim/lua/editor.lua
  nvim/lua/plugins.lua
Due: none

fix completions
  SHORTCUTS.md
  nvim/lazy-lock.json
  nvim/lua/plugins.lua
Due: dprint

fmt
  SHORTCUTS.md
Due: dprint

jujutsu setup
  .zshrc
  Brewfile
  jj/config.toml
  sync.sh
Due: taplo, brewfile-syntax

gitignore global
  gitignore_global
  starship.toml
  sync.sh
Due: taplo

pyright lsp
  README.md
  justfile
Due: dprint, justfile-check

all lsp servers
  README.md
  justfile
Due: dprint, justfile-check

update brewfile
  Brewfile
  justfile
Due: brewfile-syntax, justfile-check

remove manual scm files
  nvim/lazy-lock.json
  nvim/queries/lean/folds.scm
  nvim/queries/lean/highlights.scm
  nvim/queries/lean/injections.scm
Due: none

bump
  nvim/lazy-lock.json
Due: none

fucking bash bug
  .zshrc
Due: none

migrate treesitter
  .zshrc
  Brewfile
  gitconfig
  nvim/lazy-lock.json
  nvim/lua/plugins.lua
Due: brewfile-syntax

disable some language providers
  nvim/init.lua
  nvim/lua/plugins.lua
Due: none
